:root {
  --bg: #ffffff;
  --form-fg: #ffffff;
  --form-bg: #9a7e6f;
  --form-bg-hover: #54473f;

  --radius: 8px;

  --box-shadow: 0 2px 8px #00000044;
  --box-shadow-light: 0 0 4px #00000033;

  --transition: 80ms ease;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #333;
}

body {
  margin: 0;
  padding-block: 2rem;
  background-image: url("./bg.jpg");
}

main {
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  background: var(--bg);
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--bg);

  & > * {
    margin: 0;
  }
  & > :last-child {
    text-align: right;
  }
}

canvas {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 600px;
  display: block;
  outline: 2px dashed;

  &.pixelated {
    image-rendering: pixelated;
  }
}

button {
  color: var(--form-fg);
  background-color: var(--form-bg);
  border: unset;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-light);

  transition: background-color var(--transition);

  &:hover {
    background-color: var(--form-bg-hover);
  }
}

.container {
  max-width: 700px;
  margin-inline: auto;
  padding: 1rem;
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

#canvas-container {
  display: grid;
  place-items: center;
}

#shader-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-block: 1rem;
}

@media (width < 600px) {
  #shader-controls {
    grid-template-columns: 1fr;
  }
}

#shader-list .selected {
  font-weight: bold;
  &::marker {
    font-weight: normal;
  }
}
